<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>用户</h1>
    <form method="POST" action="/api/checktoken">
        <input name="token" placeholder="點擊驗證"/>
        <button type="submit">点击验证</button>
    </form>
</body>
</html>